# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.GRG002NUnitAsAHabit.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Codes\UsefulUtilityLibs\GRG002NUnitAsAHabit\.idea\.idea.GRG002NUnitAsAHabit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
